{% extends 'layout.html' %}

{% block content %}
<main class='wiki'>
    <section class="info">
        <div class="season">
            <h1 class="title">
                Season: <span class="select">2021 <i class="fas fa-chevron-down"></i></span>
            </h1>
            <div class="content">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius reiciendis neque quidem autem est ducimus inventore! Sequi totam suscipit id?</p>
                <div class="meta">
                    <p>Review</p>
                    <a href="#" class="btn">Read more</a>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="extra tech">
                <h2 class="title">
                    Techical rules
                </h2>
                <a href="#" class="btn">Read more</a>
            </div>
            <div class="extra score">
                <h2 class="title">
                    Score board
                </h2>
                <a href="#" class="btn">Read more</a>
            </div>
        </div>
    </section>
    <section class="races">
        <h1 class="title">Races</h1>
        <div class="races__list">
            <div class="race">
                <img src='/img/track.png' class="img-track"></img>
                <div class="content">
                    <h3 class="gp">Bachrain</h3>
                    <h3 class="track">Sachir</h3>
                    <p class="id">01</p>
                    <div class="img-flag"></div>
                </div>
            </div>
            <div class="race">
                <img src='/img/track.png' class="img-track"></img>
                <div class="content">
                    <h3 class="gp">Bachrain</h3>
                    <h3 class="track">Sachir</h3>
                    <p class="id">01</p>
                    <div class="img-flag"></div>
                </div>
            </div>
            <div class="race">
                <img src='/img/track.png' class="img-track"></img>
                <div class="content">
                    <h3 class="gp">Bachrain</h3>
                    <h3 class="track">Sachir</h3>
                    <p class="id">01</p>
                    <div class="img-flag"></div>
                </div>
            </div>
            <div class="race">
                <img src='/img/track.png' class="img-track"></img>
                <div class="content">
                    <h3 class="gp">Bachrain</h3>
                    <h3 class="track">Sachir</h3>
                    <p class="id">01</p>
                    <div class="img-flag"></div>
                </div>
            </div>
            <div class="race">
                <img src='/img/track.png' class="img-track"></img>
                <div class="content">
                    <h3 class="gp">Bachrain</h3>
                    <h3 class="track">Sachir</h3>
                    <p class="id">01</p>
                    <div class="img-flag"></div>
                </div>
            </div>
            <div class="race">
                <img src='/img/track.png' class="img-track"></img>
                <div class="content">
                    <h3 class="gp">Bachrain</h3>
                    <h3 class="track">Sachir</h3>
                    <p class="id">01</p>
                    <div class="img-flag"></div>
                </div>
            </div>
            <div class="race">
                <img src='/img/track.png' class="img-track"></img>
                <div class="content">
                    <h3 class="gp">Bachrain</h3>
                    <h3 class="track">Sachir</h3>
                    <p class="id">01</p>
                    <div class="img-flag"></div>
                </div>
            </div>
            <div class="race">
                <img src='/img/track.png' class="img-track"></img>
                <div class="content">
                    <h3 class="gp">Bachrain</h3>
                    <h3 class="track">Sachir</h3>
                    <p class="id">01</p>
                    <div class="img-flag"></div>
                </div>
            </div>
            <div class="race">
                <img src='/img/track.png' class="img-track"></img>
                <div class="content">
                    <h3 class="gp">Bachrain</h3>
                    <h3 class="track">Sachir</h3>
                    <p class="id">01</p>
                    <div class="img-flag"></div>
                </div>
            </div>
            <div class="race">
                <img src='/img/track.png' class="img-track"></img>
                <div class="content">
                    <h3 class="gp">Bachrain</h3>
                    <h3 class="track">Sachir</h3>
                    <p class="id">01</p>
                    <div class="img-flag"></div>
                </div>
            </div>
            <div class="race">
                <img src='/img/track.png' class="img-track"></img>
                <div class="content">
                    <h3 class="gp">Bachrain</h3>
                    <h3 class="track">Sachir</h3>
                    <p class="id">01</p>
                    <div class="img-flag"></div>
                </div>
            </div>
            <div class="race">
                <img src='/img/track.png' class="img-track"></img>
                <div class="content">
                    <h3 class="gp">Bachrain</h3>
                    <h3 class="track">Sachir</h3>
                    <p class="id">01</p>
                    <div class="img-flag"></div>
                </div>
            </div>
            <div class="race">
                <img src='/img/track.png' class="img-track"></img>
                <div class="content">
                    <h3 class="gp">Bachrain</h3>
                    <h3 class="track">Sachir</h3>
                    <p class="id">01</p>
                    <div class="img-flag"></div>
                </div>
            </div>
            <div class="race">
                <img src='/img/track.png' class="img-track"></img>
                <div class="content">
                    <h3 class="gp">Bachrain</h3>
                    <h3 class="track">Sachir</h3>
                    <p class="id">01</p>
                    <div class="img-flag"></div>
                </div>
            </div>
            <div class="race">
                <img src='/img/track.png' class="img-track"></img>
                <div class="content">
                    <h3 class="gp">Bachrain</h3>
                    <h3 class="track">Sachir</h3>
                    <p class="id">01</p>
                    <div class="img-flag"></div>
                </div>
            </div>
            <div class="race">
                <img src='/img/track.png' class="img-track"></img>
                <div class="content">
                    <h3 class="gp">Bachrain</h3>
                    <h3 class="track">Sachir</h3>
                    <p class="id">01</p>
                    <div class="img-flag"></div>
                </div>
            </div>
            <div class="race">
                <img src='/img/track.png' class="img-track"></img>
                <div class="content">
                    <h3 class="gp">Bachrain</h3>
                    <h3 class="track">Sachir</h3>
                    <p class="id">01</p>
                    <div class="img-flag"></div>
                </div>
            </div>
            <div class="race">
                <img src='/img/track.png' class="img-track"></img>
                <div class="content">
                    <h3 class="gp">Bachrain</h3>
                    <h3 class="track">Sachir</h3>
                    <p class="id">01</p>
                    <div class="img-flag"></div>
                </div>
            </div>
            <div class="race">
                <img src='/img/track.png' class="img-track"></img>
                <div class="content">
                    <h3 class="gp">Bachrain</h3>
                    <h3 class="track">Sachir</h3>
                    <p class="id">01</p>
                    <div class="img-flag"></div>
                </div>
            </div>
            <div class="race">
                <img src='/img/track.png' class="img-track"></img>
                <div class="content">
                    <h3 class="gp">Bachrain</h3>
                    <h3 class="track">Sachir</h3>
                    <p class="id">01</p>
                    <div class="img-flag"></div>
                </div>
            </div>
            <div class="race">
                <img src='/img/track.png' class="img-track"></img>
                <div class="content">
                    <h3 class="gp">Bachrain</h3>
                    <h3 class="track">Sachir</h3>
                    <p class="id">01</p>
                    <div class="img-flag"></div>
                </div>
            </div>
            <div class="race">
                <img src='/img/track.png' class="img-track"></img>
                <div class="content">
                    <h3 class="gp">Bachrain</h3>
                    <h3 class="track">Sachir</h3>
                    <p class="id">01</p>
                    <div class="img-flag"></div>
                </div>
            </div>
        </div>
    </section>
    <section class="teams">
        <h1 class="title">Teams</h1>
        <div class="teams__list">
            <div class="team">
                <div class="content">
                    <h4 class="name">Mercedes</h4>
                    <p class="discription">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aut, dolorum.</p>
                    <a href="#" class="btn">Read more</a>
                </div>
                <img src="/img/toto.jpg" alt="toto" class="princ">
            </div>
            <div class="team">
                <div class="content">
                    <h4 class="name">Mercedes</h4>
                    <p class="discription">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aut, dolorum.</p>
                    <a href="#" class="btn">Read more</a>
                </div>
                <img src="/img/toto.jpg" alt="toto" class="princ">
            </div>
            <div class="team">
                <div class="content">
                    <h4 class="name">Mercedes</h4>
                    <p class="discription">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aut, dolorum.</p>
                    <a href="#" class="btn">Read more</a>
                </div>
                <img src="/img/toto.jpg" alt="toto" class="princ">
            </div>
            <div class="team">
                <div class="content">
                    <h4 class="name">Mercedes</h4>
                    <p class="discription">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aut, dolorum.</p>
                    <a href="#" class="btn">Read more</a>
                </div>
                <img src="/img/toto.jpg" alt="toto" class="princ">
            </div>
            <div class="team">
                <div class="content">
                    <h4 class="name">Mercedes</h4>
                    <p class="discription">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aut, dolorum.</p>
                    <a href="#" class="btn">Read more</a>
                </div>
                <img src="/img/toto.jpg" alt="toto" class="princ">
            </div>
            <div class="team">
                <div class="content">
                    <h4 class="name">Mercedes</h4>
                    <p class="discription">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aut, dolorum.</p>
                    <a href="#" class="btn">Read more</a>
                </div>
                <img src="/img/toto.jpg" alt="toto" class="princ">
            </div>
            <div class="team">
                <div class="content">
                    <h4 class="name">Mercedes</h4>
                    <p class="discription">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aut, dolorum.</p>
                    <a href="#" class="btn">Read more</a>
                </div>
                <img src="/img/toto.jpg" alt="toto" class="princ">
            </div>
            <div class="team">
                <div class="content">
                    <h4 class="name">Mercedes</h4>
                    <p class="discription">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aut, dolorum.</p>
                    <a href="#" class="btn">Read more</a>
                </div>
                <img src="/img/toto.jpg" alt="toto" class="princ">
            </div>
            <div class="team">
                <div class="content">
                    <h4 class="name">Mercedes</h4>
                    <p class="discription">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aut, dolorum.</p>
                    <a href="#" class="btn">Read more</a>
                </div>
                <img src="/img/toto.jpg" alt="toto" class="princ">
            </div>
            <div class="team">
                <div class="content">
                    <h4 class="name">Mercedes</h4>
                    <p class="discription">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aut, dolorum.</p>
                    <a href="#" class="btn">Read more</a>
                </div>
                <img src="/img/toto.jpg" alt="toto" class="princ">
            </div>
        </div>
    </section>
    <section class="wiki-articles">
        <div class="article">
            <div class="img"></div>
            <div class="content">
                <h2 class="title">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</h2>
                <p class="meta">17:00 UTC 21.04.20</p>
                <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Amet risus et, augue tincidunt integer et. Dui phasellus sollicitudin metus purus. </p>
                <a href="#" class="btn">Read more</a>
            </div>
        </div>
        <div class="article">
            <div class="img"></div>
            <div class="content">
                <h2 class="title">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</h2>
                <p class="meta">17:00 UTC 21.04.20</p>
                <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Amet risus et, augue tincidunt integer et. Dui phasellus sollicitudin metus purus. </p>
                <a href="#" class="btn">Read more</a>
            </div>
        </div>
        <div class="article">
            <div class="img"></div>
            <div class="content">
                <h2 class="title">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</h2>
                <p class="meta">17:00 UTC 21.04.20</p>
                <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Amet risus et, augue tincidunt integer et. Dui phasellus sollicitudin metus purus. </p>
                <a href="#" class="btn">Read more</a>
            </div>
        </div>
        <div class="article">
            <div class="img"></div>
            <div class="content">
                <h2 class="title">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</h2>
                <p class="meta">17:00 UTC 21.04.20</p>
                <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Amet risus et, augue tincidunt integer et. Dui phasellus sollicitudin metus purus. </p>
                <a href="#" class="btn">Read more</a>
            </div>
        </div>
        <div class="article">
            <div class="img"></div>
            <div class="content">
                <h2 class="title">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</h2>
                <p class="meta">17:00 UTC 21.04.20</p>
                <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Amet risus et, augue tincidunt integer et. Dui phasellus sollicitudin metus purus. </p>
                <a href="#" class="btn">Read more</a>
            </div>
        </div>
        <div class="article">
            <div class="img"></div>
            <div class="content">
                <h2 class="title">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</h2>
                <p class="meta">17:00 UTC 21.04.20</p>
                <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Amet risus et, augue tincidunt integer et. Dui phasellus sollicitudin metus purus. </p>
                <a href="#" class="btn">Read more</a>
            </div>
        </div>
        <div class="article">
            <div class="img"></div>
            <div class="content">
                <h2 class="title">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</h2>
                <p class="meta">17:00 UTC 21.04.20</p>
                <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Amet risus et, augue tincidunt integer et. Dui phasellus sollicitudin metus purus. </p>
                <a href="#" class="btn">Read more</a>
            </div>
        </div>
        <div class="article">
            <div class="img"></div>
            <div class="content">
                <h2 class="title">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</h2>
                <p class="meta">17:00 UTC 21.04.20</p>
                <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Amet risus et, augue tincidunt integer et. Dui phasellus sollicitudin metus purus. </p>
                <a href="#" class="btn">Read more</a>
            </div>
        </div>
    </section>

</main>
{% endblock %}