//imports
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Open+Sans:wght@300;400;700;800&family=Oswald:wght@300;400;500;700&display=swap');
//colors
$prussian-blue: #1D3557;
$prussian-blue-dark: #192F4D;
$celadon-blue: #457B9D;
$powder-blue: #A8DADC;
$honeydew: #F1FAEE;
$imperial-red: #E63946;
$rosso-corsa: #D00000;
$dark-red: #9D0208;
$xiketic: #03071E;
//fonts
$fs-big: 2rem;
$fs-med: 1.5rem;
$fs-sm: 1rem;
// mixins
@mixin font-title($size){
    font-size: $size;
    font-family: "Oswald";
    font-weight: 700;
}
@mixin font-content($size){
    font-size: $size;
    font-family: 'Open Sans';
    font-weight: 400;
}
@mixin font-discription($size){
    font-size: $size;
    font-family: "Lato";
    font-weight: 200;
}
@mixin bg-img($img, $color) {
    background-image: url($img);
    background-color: $color;
    background-position: center;
    background-size: cover;
    background-blend-mode: multiply;
}
@mixin card {
    width: 100%;
    height: 600px;
}

//css
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: grid;
    grid-template-columns: minmax(350px,1fr);
    max-width: 1980px;
    margin: 0 auto;
    @media (min-width: 720px){
        grid-template-columns: repeat(2,1fr);
    }
    @media (min-width: 1098px){
        grid-template-columns: 360px auto;
    }
}
.home{
    display: grid;
    grid-template-columns: auto;
    @media (min-width: 720px){
        grid-template-columns: repeat(auto-fill,minmax(360px,1fr));
    }
}
a{
    text-decoration: none;
    color: inherit;
}
.btn{
    display: inline-block;
    padding: 0.3rem 0.7rem;
    margin: .5rem 0;
    background: linear-gradient($imperial-red, $rosso-corsa);
    color: $honeydew;
    border-radius: 0.3rem;
    font-size: 0.85rem;
    font-weight: 700;
    transition: all .2s linear;
    &:hover, &:focus{
        background: linear-gradient($rosso-corsa, $dark-red);
    }
}
.font-red{
    color: $imperial-red;
}
header{
    width: 100%;
    height: 768px;
    @include bg-img('/img/header-bg.jpg', $prussian-blue);
    color: $honeydew;
    padding: 4rem 10% 0 10%;
    position: relative;
    .title{
        @include font-title($fs-big);
        margin-bottom: 2rem;
        text-transform: uppercase;
    }
    .navigation{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        @include font-content($fs-med);
        a{
            display: inline-block;
            background-color: transparent;
            padding: .5rem 1rem;
            border-radius: 0.5rem;
            box-shadow: none;
            transition: all .4s linear;
            &:hover, &:focus{
                background-color: $imperial-red;
                box-shadow: 3px 3px 10px $rosso-corsa;
            }
        }
    }
    .bottom-content{
        position: absolute;
        bottom: 2rem;
        width: 80%;
        .sub-text{
            @include font-content($fs-sm);
        }
        form{
            position: relative;
            margin: 1rem 0;
            #email{
                width: 100%;
                height: 3rem;
                padding: .5rem 2rem .5rem 1rem;
                @include font-discription($fs-sm);
                color: $honeydew;
                background: transparent;
                border: .5px solid $prussian-blue;
                transition: border .2s linear;
                &:focus, &:hover{
                    border: .5px solid $celadon-blue;
                    outline: none;
                }
                &:active{
                    border: .5px solid $honeydew;
                    outline: none;
                }
                &:invalid{
                    border: .5px solid $rosso-corsa;
                    outline: none;
                    &+button{
                        color: $rosso-corsa;
                    }
                }
            }
            button{
                position: absolute;
                right: 1rem;
                top: 50%;
                transform: translateY(-50%);
                border: none;
                background: transparent;
                color: $honeydew;
                cursor: pointer;
                transition: color .2s linear;
            }
        }
        .links{
            width: 100%;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap:2rem;
            font-size: $fs-med;
            color: $honeydew;
            svg{
                cursor: pointer;
                transition: color .2s linear;
                &:hover{
                    color: $imperial-red;
                }
            }
        }
    }
    @media (min-width: 720px){
        position: sticky;
        top:0;
    }
}

.event{
    @include card();
    &__item{
        width: 100%;
        height: 50%;
        @include bg-img('/img/gp-bg.jpg', $celadon-blue);
        color: $honeydew;
        padding: 1.5rem 10%;
        .title{
            @include font-title($fs-med);
            text-align: center;
            margin-bottom: 1rem;
        }
        .content{
            height: 70%;
            display: grid;
            align-items: center;
            grid-template-columns: auto 100px;
            gap: 1rem;
            @include font-content($fs-sm);
            .meta{
                text-align: center;
            }
        }
        transition: all .3s linear;
        &:hover, &:focus-within{
            background-color: $xiketic;
        }
    }
}
.article{
    @include card();
    border: 1px solid $xiketic;
    .img{
        @include bg-img('/img/news-img.jpg', none );
        width: 100%;
        height: 50%;
        transition: height .3s linear;
    }
    .content{
        position: relative;
        width: 100%;
        height: 50%;
        padding: 5% 10%;
        @include font-content($fs-sm);
        transition: all .3s linear;
        .title{
            @include font-title($fs-med);
            margin-bottom: 1rem;
        }
        .meta{
            margin-bottom: 1rem;
        }
        a{
            transition: all .3s linear;
            position: absolute;
            bottom: 5%;
        }
    }
    transition: all .3s linear;
    &:hover, &:focus-within{
        background-color: $prussian-blue;
        .img{
            height: 40%;
        }
        .content{
            padding-top: 10%;
            color: $honeydew;
            height: 60%;
            a{
                bottom: 15%;
            }
        }
    }
}

.info{
    .season{
        width: 100%;
        height: 300px;
        color: $honeydew;
        padding: 5% 10%;
        @include bg-img('/img/seasons-bg.png', gray);
        .title{
            @include font-title($fs-big);
            text-align: center;
            margin-bottom: 1rem;
            position: relative;
            
        }
        .content{
            display: flex;
            height: 80%;
            justify-content: space-between;
            align-items: center;
            gap: 10%;
            @include font-content($fs-sm);
        }
    }
    .container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        .extra{
            height: 150px;
            color: $honeydew;
            padding: 5% 10%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            text-align: center
        }
        .tech{
            @include bg-img('/img/tech-bg.jpg', $prussian-blue);
        }
        .score{
            @include bg-img('/img/results.jpg', $celadon-blue);
        }
    }
}
.races{
    width: 100%;
    padding: 5% 10%;
    .title{
        text-align: center;
        @include font-title($fs-big);
        margin-bottom: 2rem;

    }
    &__list{
        display: flex;
        //grid-template-columns: repeat(auto-fit, 270px);
        justify-content: center;
        flex-basis: 270px;
        align-items: center;
        flex-wrap: wrap;
        gap: .6rem;
        .race{
            width: 270px;
            height: 125px;
            background-color: $rosso-corsa;
            @include font-content($fs-sm);
            border-radius: 1rem;
            overflow: hidden;
            border: 1px solid black;
            display: flex;
            .img-track{
                width: 60%;
                height: 100%;
                padding: 5%;
                background-color: white;
            }
            .content{
                width: 40%;
                height: 100%;
                padding-top: 2%;
                border-left: 1px solid black;
                > *:not(.img-flag){
                    padding-left: 5%;
                }
                .gp{
                    text-transform: uppercase;
                }
                .track{
                    font-weight: 300;
                }
                .id{
                    color: $honeydew;
                    font-weight: 700;
                }
                .img-flag{
                    width: 100%;
                    height: 40%;
                    border-top: 1px solid black;
                    @include bg-img('/img/flag.png', none);
                }
            }
        }
    }
}

.teams{
    background: linear-gradient($prussian-blue, $prussian-blue-dark);
    color: $honeydew;
    padding: 5% 10%;
    .title{
        @include font-title($fs-big);
        text-align: center;
        margin-bottom: 2rem;
    }
    &__list{
        display: flex;
        flex-wrap: wrap;
        flex-basis: 300px;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        .team{
            background-color: black;
            width: 300px;
            height: 200px;
            border-radius: 1rem;
            overflow: hidden;
            position: relative;
            .content{
                width: 50%;
                height: 100%;
                padding: 5% 7%;
                .name{
                    @include font-content($fs-med);
                    text-align: center;
                    margin-bottom: .5rem;
                }
                .discription{
                    @include font-discription($fs-sm);
                    margin-bottom: .3rem;
                    font-weight: 300;
                }
            }
            .princ{
                position: absolute;
                bottom: 0;
                right: 0;
                width: 50%;
            }
        }
    }
}

.intro{
    display: none;
}