@import '../components/fonts','../components/colors','../components/components';
@import '../blocks/header', '../blocks/event', '../blocks/article';


main{
    display: grid;
    grid-template-columns: auto;
    @media (min-width:720px){
        grid-template-columns: repeat(auto-fit,minmax(360px,1fr));
    }
}