{% extends 'admin/admin-layout.html' %}

{% block content %}
<div class="container mt-5 col-lg-6 col-md-8">
    <h2>News list</h2>
    <a href="news/add-new" class="btn btn-primary">Add new</a>
    <table class="table table-dark table-striped table-responsive mt-4">
        <thead>
            <tr>
            <th scope="col">#</th>
            <th scope="col">title</th>
            <th scope="col">date</th>
            <th scope="col">domain</th>
            <th scope="col"></th>
            <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for article in news %}
            <tr>
                <th scope="row">{{article.id}}</th>
                <td>{{article.title}}</td>
                <td>{{article.date}}</td>
                <td>{{article.domain}}</td>
                <td><a href="news/edit/{{article.id}}" class="btn btn-warning">Edit</a></td>
                <td><a href="news/delete/{{article.id}}" class="btn btn-danger">Delete</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}