{% extends '_base.html' %}

{% block links %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/home/home.css') }}">
{% endblock %}

{% block content %}
<div class="events">
    <div class="events__item">
        <h2>Lorem ipsum.</h2>
        <div class="col-2">
            <p class='text'>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae reprehenderit praesentium, veniam harum nostrum placeat fuga soluta.</p>
            <div class="meta">
                <p>16.01.21</p>
                <p>19:00 UTC</p>
                <a href="#" class="btn">Read more</a>
            </div>
        </div>
    </div>
    <div class="events__item">
        <h2>Lorem ipsum.</h2>
        <div class="col-2">
            <p class='text'>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae reprehenderit praesentium, veniam harum nostrum placeat fuga soluta.</p>
            <div class="meta">
                <p>16.01.21</p>
                <p>19:00 UTC</p>
                <a href="#" class="btn">Read more</a>
            </div>
        </div>
    </div>
</div>
<div class="article">
    <div class="img"></div>
    <div class="content">
        <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h2>
        <span>16:00 21.11.20</span>
        <p class="short-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero praesentium mollitia cum cumque est placeat at et aut numquam sed quas sunt quibusdam.</p>
        <a href="#" class="btn">Read more</a>
    </div>
</div>
{% endblock %}