.section--title{
    @include font-title($fs-med);
}
.section--content{
    @include font-content($fs-sm);
    overflow: auto;
    max-height: 700px;
    table{
        min-width: 720px;
        border-collapse: collapse;
        border: 1px solid $prussian-blue-dark;
        td{
            border: 1px solid $prussian-blue-dark;
            padding: .5rem;
        }
        thead{
            background-color: $xiketic;
            color: $honeydew;
            height: 3rem;
        }
        tbody{
            tr:nth-child(even) {
                background-color: $powder-blue;
            }
        }
    }
}