.article-modal-form{
    display: grid;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1090;
    width: 100vw;
    height: 100vh;
    background-color: rgba($prussian-blue-dark, .7);
    .form{
        width: clamp(360px, 100vw, 600px);
        background: linear-gradient(50deg,$prussian-blue,$prussian-blue-dark);
        place-self: center center;
        border-radius: 1rem;
        padding: 2rem;
        &--header{
            h2{
                @include font-title($fs-med);
                color: $honeydew;
            }
        }
        &--content{
            margin: 1rem 0;
            padding: 1rem 0;
            border-top: 1px solid $honeydew;
            border-bottom: 1px solid $honeydew;
        }
        &--group{
            @include font-content($fs-sm);
            margin-bottom: .5rem;
            label,input{
                display: block;
            }
            label{
                margin-bottom: .5rem;
                color: $honeydew;
            }
            input{
                width: 100%;
                padding: .5rem 1rem;
                height: 2rem;
                background: rgba($honeydew, .1);
                outline: none;
                border-radius: .5rem;
                color: $honeydew;
            }
            .ck-editor__main{
                max-height: 300px;
                overflow-y: auto;
            }
        }
    }
}